<div class="post">
	<span>1.</span>
	<span>*</span>
	<span> Here we have the Title</span>
	<span class="webLink"> (http://web.com)</span>
</div>

<div class="contribution2ndLine">
	<span>1</span>
	<span> points by</span>
	<span> Author</span>
	<span> time ago</span>
	<span> | hide |</span>
	<span> 50 comments</span>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->